<h1>Files</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @items.each do |item| %>
  <tr>
    <td><%= link_to item.name, item %></td>
    <td><%= item.price %></td>
    <td><%= item.user.email %></td>
  </tr>
<% end %>
</table>
<br/>

