<div class="span3">
              <div class="well sidebar-nav">
                <h3>Products</h3>
                <ul class="nav nav-list">
                  <li class="nav-header">Last products</li>
                  <% @items_last.each do |item| %>
                    <li><%= link_to item.name, item %></li>
                   <% end %>
                </ul>
                <ul class="nav nav-list">
                  <li class="nav-header">Categories</li>
                  <% @categories.each do |cat| %>
                    <li class="parent"><%= link_to cat.name, cat %></li>
                  <% end %>
                </ul>
              </div><!--/.well -->
            </div><!--/span-->
